.PlayerRole {
    position: fixed;
    left: 3vw;
    bottom: 3vw;
    font-weight: 700;
    font-size: 2rem;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.PlayerRole__liberal {
    color: #73A7BB;
}

.PlayerRole__fascist, .PlayerRole__hitler {
    color: #A74E31;
}