.LibBoard {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: fit-content;
    margin: auto;

    > *:first-child {

        svg {
            height: 30vh;
            width: auto;
        }

        > *:nth-child(1) {
            grid-column: 1/4;
            grid-row: 1;
            justify-self: center;
        }

        > *:nth-child(2) {
            grid-column: 1/4;
            grid-row: 3;
            justify-self: center;
            align-self: flex-end;
        }

        > *:nth-child(3) {
            grid-column: 1;
            grid-row: 2;
            align-self: center;
        }
        > *:nth-child(4) {
            grid-column: 3;
            grid-row: 2;
            justify-self: flex-end;
            align-self: center;
        }
        > *:nth-child(5) {
            grid-column: 2;
            grid-row: 2;
            justify-self: center;
            align-self: center;
        }
    }
}
.LibBoard__cards {
    display: flex;
    padding: 6%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    gap: 1rem;

    img {
        display: block;
        max-width: calc(20% - 1rem);
        max-height: 30vh;
    }
}
