.VoteCardBlock {
    position: fixed;
    bottom: 0;
    right: 5vw;
    display: flex;
    z-index: 3;
}

.VoteCardBlock > * {
    transition: transform 0.3s ease;

    &:first-child {
        transform: rotate(-10deg);
    }

    &:nth-child(2) {
        transform: rotate(10deg);
    }

    &:hover {
        transform: translateY(-2rem);
        cursor: pointer;
    }
}