div.playerComponent {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
}

.playerComponent img {
  position: relative;
  top: 3px;
  object-fit: contain;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 2px solid rgb(22, 153, 44);
  background-color: rgb(250, 250, 250);
}

h1.playerName {
  color: rgb(49, 49, 49);
  font-size: small;
}

.playerHasVoted {
  padding: 0.3rem 1rem;
  top: 1rem;
  transform: rotate(-30deg);
  white-space: nowrap;
  font-weight: 800;
  font-size: 0.8rem;
  border-radius: 10px;
  background-color: #F5D49E;
  border: 2px solid #A74E31;
  position: absolute;
  
}
