div.playerComponent {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    border: 5px solid rgb(22, 153, 44);
    display: inline-block;
  }

h1.playerName {
    color: blue;
}