.loginPage {
    width: 100vw;
    height: 100vh;
    background-color: #db653e;
    overflow: hidden;
    position: relative;
    background-image: url("../../assets/imgs/bg_1.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    // flex-direction: column;

    .bannerContainer {
        width: 100vw;
        
        text-align: center;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        background-color: blue;
        .svgContainer {
            width: 100vw;
            position: absolute;
            bottom: 55%;
            background-color: rgb(210, 188, 101);
        }
        img {
            height: 60vh;
            width: 100vw;
            max-width: 100vw;
        }
        .titleContainer {
            z-index: 9;
            background-color: aquamarine;
            width: 100vw;
            position: absolute;
            h1 {
                font-size: 6rem;
                z-index: 99;
                left: 50%;
                text-align: center;
                top: 50%;
                transform-origin: center;
                transform: rotate(7.15deg);
                font-weight: 900;
                color: #a74e31;
            }
        }
    }
    .playContainer{
        width: auto;
        position: relative;
        font-size: 100px;
        font-weight: bolder;
        color: #fff9ef9a;
        z-index: 999;
        background-color: brown;
        // background-image: url('../../assets/imgs/testPlay.png');
        // background-size: cover;
        // background-repeat: no-repeat;

        img{
            width: 100%;
            height: 100%;
            position: absolute;
           
        }
    }
}
