.loginPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;

    background-color: #db653e;
    background-image: url("../../assets/imgs/bg_1.png");
    background-size: cover;
    background-repeat: no-repeat;

    .headerContainer {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img {
            width: 100vw;
            max-width: 100vw;
        }

        .svgContainer {
            position: absolute;
            width: 100vw;
            display: flex;
            justify-content: center;
            top: -35%;
        }
        .titleContainer {
            width: 100%;
            display: flex;
            justify-content: center;
            position: absolute;
            top: calc(50% - 6.5rem);
            transform-origin: center;
            transform: rotate(7.15deg);
            font-weight: 900;
            color: #a74e31;
            font-size: 7rem;
        }
        .littleSvgContainer{
            width: 100vw;
            height: 1vh;
            // background-color: red;
            position: relative;
            display: flex;
            justify-content: center;
         
            div{
                width: 50%;
                // background-color: aqua;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    width: 15%;
                }
            }
            .liberalIcon{
                position: absolute;
                left: 0%;
                top: 20%;
                img{
                    width: 18.4%;
                }
             }
             .facistIcon{
                 position: absolute;
                 right: 0%;
                 top: 20%;
             }
        }



        .playContainer {
            // width: 100vw;
            padding: 1rem 4rem;
            display: flex;
            justify-content: center;
            font-size: 4rem;
            font-weight: bolder;
            background-image: url("../../assets/imgs/testPlay.png");
            background-repeat: no-repeat;
            background-size: contain;
            // background-color: rebeccapurple;
            position: relative;

            &:hover{
                animation: buttonTextAnime 0.4s ease forwards;
            }


            h2 {
                // color: #f5d49e;
                color: #000000;
                cursor: pointer;
            }
        }
    }
}


@keyframes buttonTextAnime {
    100% {
        opacity: 0.6;
    }
}