@font-face {
  font-family: "Enchanted land";
  src: url("./style/Enchanted\ Land.otf") format("woff2"),
}
body {
  margin: 0;
  font-family: 'Enchanted land';
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body * {
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
